.listItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    border-bottom: 1px solid rgba(97, 97, 97, 0.25);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    
}

.nameText{
    font:inherit;
    font-family: 'Antonio', sans-serif;
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.planetIcon{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 12px;
    margin-right: 1rem;
}

