.listItem{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    border-bottom: 1px solid rgba(97, 97, 97, 0.25);;
    
}

.nameText{
    font:inherit;
    font-weight: bold;
}