.planetStatListItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #97979744;
    margin-bottom:1rem;
    padding: 0.4rem;
    p{
        color: #979797;
    }

    .factHeader{
        margin: 0.2rem;
    }

   

}