.planetNav{
    display: flex;
    justify-content: space-evenly;
}

.planetNavLink{
text-decoration: none;
color: #d8d8d896;
margin-bottom: 1rem;
font-size: 1.2vw;
}


.planetNavLink:hover{
    color: white;
}

@media only screen and (max-width: 700px) {
    .planetNav{
        display: none;
    }
  }

  @media only screen and (min-width: 1100px) {
  .planetNav{
gap: 2rem;
margin-right: 1rem;
  }

  .planetNavLink{
      margin-bottom: 0;
  }
    }
  
  
  