@import './colors.scss';

    @mixin flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .planetImageSection{
        @include flexCenter();
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
    
       /* .planetImage{
            width: 111px;
            height: 111px;
        } */

        .planetImageContainer{
            width: 30%;
            height: 30%;
        }

        .geologyImage{
            width: 70px;
            height: 80px;
            position: absolute;
            top: 250px;
        }
    }

    @media (min-width:700px) {
        .planetImageSection{
        .geologyImage{
            width: 70px;
            height: 80px;
            position: absolute;
            top: 200px;
        }
    }
    }
    
    .planetTitleSection{
        @include flexCenter();
        margin-top: 0rem;
        height: 9rem;
    
        .planetTitle{
            color: white;
            font-family: $font;
            font-size: 4rem;
        }
    }
    
    .planetOverviewSection{
        color: white;
        text-align: center;
        padding: 1rem;
        padding-bottom: 0;
        p{
            margin-bottom: 0.5rem;
        }
    }
    
    .sourceSection{
        @include flexCenter();
        margin-top: 4rem;
        a{
            text-decoration: none;
            color: #979797;
            margin-right: 1rem;
        }
    }
    

