@import './colors.scss';

    @mixin flexCenter {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .planetImageSection{
        @include flexCenter();
        margin-top: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0rem;
    
       .planetImage{
           max-width:100%;
            max-height:100%;
        } 

        .planetImageContainer{
            width: 30%;
            height: 30%;
            text-align: center;
        }

        .geologyImage{
            width: 70px;
            height: 80px;
            position: relative;
            top: -55px;
            left: 0px;
        }
    }


    @media (min-width:700px) {
.planetImageSection{
    .planetImageContainer{
        height: 25rem;
    }
}
    

        .planetImageSection{
        .geologyImage{
            width: 160px;
            height: 180px;
            position: relative;
            top: -105px;
            left: 0px;

        }
    }
    }
    
    .planetTitleSection{
        @include flexCenter();
        margin-top: 0rem;
        height: 9rem;
    
        .planetTitle{
            color: white;
            font-family: $font;
            font-size: 4rem;
        }
    }
    
    .planetOverviewSection{
        color: white;
        text-align: center;
        padding: 1rem;
        padding-bottom: 0;
        p{
            margin-bottom: 0.5rem;
        }
    }
    
    .sourceSection{
        @include flexCenter();
        margin-top: 4rem;
        a{
            text-decoration: none;
            color: #979797;
            margin-right: 1rem;
        }
    }
    



    @media (min-width:700px) {
      .sourceSection{
          margin-top: 5rem;
          justify-content: flex-start;
      }

      .planetTitleSection{
          justify-content: flex-start;
      }

      .planetOverviewSection{
          width: 35rem;
          text-align: left;
          line-height: 1.5;
          padding: 0;
          font-size: 1.3em;
      }

      .planetImageSection{
          margin-bottom: 4rem;
      }
      
      .planetInterface{
          margin-left: 2rem;
          .planetLinks{
              align-self: center;
              margin-right: 1.5rem;
          }
      }


    }

    .planetInterface{
        display: flex;
    }

    .planetData{
        align-self: flex-start;
       
    }

    .planetLinks{
        width: 30rem;
    }

    @media only screen and (max-width: 700px) {
        .planetLinks{
            display: none;
        }
      }